/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#player {
  position: fixed;
  z-index: -99;
  height: 175%;
  top: -40%;
  width: 500%;
}

.bg-overlay {
  position: fixed;
  z-index: -98;
  display: block;
  height: 200%;
  width: 200%;
  content: ' ';
  backface-visibility: hidden;
  background: linear-gradient(rgba(50, 51, 42, 0.5), rgba(50, 51, 42, 0.5));
}

.video-bg {
  display: flex;
  justify-content: center;
}
